*{
	padding: auto;
	margin: 0;

}

#wrapper{
	width: 960px;
	margin: 0 auto
}

#header{

}

body {
	background-image: url("../images/Fondo2.png");
}

#logo img{
	float: left;
	height: 50px;
	width: 50px;
}

#header h1{
	float: center;
	margin-left: 50%;
}

#body-info{
	margin-top: 40px;
}

#body-info select{
	margin-top: 10px;
}

#body-text textarea{
	display: block;
	float: left;
	margin-left: 45%;
	margin-top: 20px;
}

#boton{
	margin-top: 300px;
	margin-left: 50%;
 	
} 

#body {
	background: transparent url(../images/waves.gif) repeat 0% 0%
	
}

#tables{
	margin-top: 50px;
	margin-left: 20%;
}

footer{
	text-align: center;
	color: white;
	margin-top: 50px;
	width: 100%;
	height: 100px;
	background-color: #088A85;
}